@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';
.hero {
	.contaner {
		height: 100%;
	}
}
.hero_content {
	padding: 24px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 24px;
	height: 100%;

	.hero__title {
		font-weight: 600;
		font-size: 32px;
		line-height: 140%;
		text-transform: capitalize;
		color: $black;
		margin-left: 10px;
		@include mobile {
			color: $white;
		}
	}
	> button {
		padding: 10px;
		width: 184px;
		font-weight: 400;
		font-size: 14px;
		line-height: 171%;
		text-transform: capitalize;
		text-align: center;
		background-color: $white;
	}
}
